
.tools .tool {
  background-color: #999999;
  height: 35px;
  border: 1px solid #bbbbbb;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
#canvasWrapper {
  border: 1px solid #bbbbbb;
}
#canvas {
  display: inline-block;
  box-sizing: content-box;
  width: 500px;
  height: 500px;
  border: 8px solid #727dc7;
  position: relative;
  border-radius: 5px;
}
h2{
    font-family: 'Poppins', sans-serif;
}
.color-choice {
  height: 30px;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}
input.color-choice{
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
}
.dot{
    position: absolute;
    display: inline-block;
    border-radius: 50%;
}
button {
    display: inline-block;
    border: none;
    margin: 0;
    text-decoration: none;
    background: #999999;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}   
button:hover,
button:focus {
    background: #666666;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}